<!-- cover-->
<div class="container-fluid container-cover-title row">
  <div class="container cover-content">
    <h2 class="font-weight-light cover-title"><%= t :registration %></h2>
  </div>
</div>

<!-- content -->
<div class="container content">
  <div class="content-content">
    <div class="container-register">
      <h3 class="section-title font-weight-light"><%= t :data_required %></h3>
      <%= form_for :person, url: customers_path do |f| %>
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 form-group">
            <p class="description register-description"><%= t :account_information %></p>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.email_field(:email, {class: 'form-control', placeholder: t(:email), required: ''}) %>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.password_field(:password,
                                 {class: 'form-control', placeholder: t(:password), required: '', pattern: '(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}',
                                  title: t(:password_info)}) %>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.password_field(:password_confirmation,
                                 {class: 'form-control', placeholder: t(:confirm_password), required: '', pattern: '(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}',
                                  title: t(:password_info)}) %>
          </div>
        </div>
        <% flash.each do |_, value| %>
          <div class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= value %>
          </div>
        <% end %>
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 form-group">
            <p class="description register-description"><%= t :personal_data %></p>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.text_field(:first_name, {class: 'form-control', placeholder: t(:first_name), required: ''}) %>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.text_field(:last_name, {class: 'form-control', placeholder: t(:last_name), required: ''}) %>
          </div>
        </div>
        <h3 class="section-title font-weight-light"><%= t :optional_data %></h3>
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 form-group">
            <p class="description register-description"><%= t :address %></p>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.select :country, options_from_collection_for_select(ISO3166::Country.countries.sort_by(&:name), 'un_locode', 'name'),
                         {}, class: 'form-control' %>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.text_field(:city, {class: 'form-control', placeholder: t(:city)}) %>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 form-group">
            <%= f.text_field(:street, {class: 'form-control', placeholder: t(:street)}) %>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 form-group">
            <p class="description register-description"><%= t :credit_card %></p>
          </div>
          <%= fields_for :customer do |customer| %>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 form-group">
              <%= customer.text_field(:card_number, {class: 'form-control', pattern: '[0-9]{16}', placeholder: t(:card_number)}) %>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 form-group">
              <%= customer.select :month, options_for_select((1..12).to_a.map {|s| ['%02d' % s, s]}), {},
                                  class: 'form-control' %>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 form-group">
              <%= customer.select :year, options_for_select((Time.current.year..Time.current.year + 20).to_a.map {|s| ["#{s}", s]}), {},
                                  class: 'form-control' %>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 form-group">
              <%= customer.text_field(:cvv, {class: 'form-control', pattern: '[0-9]{3}', placeholder: 'CVC/CVV',
                                             'data-toggle': 'tooltip', 'data-placement': 'top', 'title': t(:cvv_info)}) %>
            </div>
          <% end %>
        </div>
        <div class="container">
          <%= f.submit t(:confirm_registration), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>