<!-- cover-->
<div class="container-fluid container-cover-title row">
  <div class="container cover-content">
    <h2 class="font-weight-light cover-title">Rejestracja</h2>
  </div>
</div>

<!-- content -->
<div class="container content">
  <div class="content-content">
    <div class="container-register">
      <% flash.each do |key, value| %>
        <div class='<%= "alert alert-#{key}" %>' style="margin-top: 10px"><%= value %></div>
      <% end %>
      <h3 class="section-title font-weight-light">Dane wymagane</h3>
      <%= form_for :customer, url: register_path do |f| %>
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 form-group">
            <p class="description register-description">Dane do zalogowania</p>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.email_field(:email, {class: 'form-control', placeholder: 'Adres e-mail', required: ''}) %>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.password_field(:password_digest, {class: 'form-control', placeholder: 'Hasło', required: ''}) %>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 form-group">
            <p class="description register-description">Dane osobowe</p>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.text_field(:first_name, {class: 'form-control', placeholder: 'Imię', required: ''}) %>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.text_field(:last_name, {class: 'form-control', placeholder: 'Nazwisko', required: ''}) %>
          </div>
        </div>
        <h3 class="section-title font-weight-light">Dane opcjonalne</h3>
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 form-group">
            <p class="description register-description">Adres</p>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.select :country, options_from_collection_for_select(ISO3166::Country.countries.sort_by(&:name), 'un_locode', 'name'),
                         {}, class: 'form-control' %>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.text_field(:city, {class: 'form-control', placeholder: 'Miasto', required: ''}) %>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 form-group">
            <%= f.text_field(:street, {class: 'form-control', placeholder: 'Ulica', required: ''}) %>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 form-group">
            <p class="description register-description">Karta kredytowa</p>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 form-group">
            <%= f.text_field(:card_number, {class: 'form-control', pattern: '[0-9]{16}', placeholder: 'Numer karty'}) %>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.select :month, options_for_select((1..12).to_a.map {|s| ['%02d' % s, s]}), {},
                         class: 'form-control' %>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 form-group">
            <%= f.select :year, options_for_select((Time.current.year..Time.current.year + 20).to_a.map {|s| ["#{s}", s]}), {},
                         class: 'form-control' %>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 form-group">
            <%= f.text_field(:cvv, {class: 'form-control', pattern: '[0-9]{3}', placeholder: 'CVC/CVV'}) %>
          </div>
        </div>
        <div class="col">
          <%= f.submit "Potwierdź rejestrację", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>