<div class="container-fluid container-cover-title row">
  <div class="container cover-content">
    <h2 class="font-weight-light cover-title"><%= t :user_profile %></h2>
  </div>
</div>

<!-- content -->
<div class="container content">
  <div class="content-content">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 container-profile-menu">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link <%= (@tab.nil? or @tab != 'sectionPassword') ? 'active' : '' %>" id="sectionData-tab" data-toggle="pill" href="#sectionData" role="tab" aria-controls="sectionData"
             aria-selected="true"><%= t :data %></a>
          <a class="nav-link <%= (!@tab.nil? and @tab == 'sectionPassword') ? 'active' : '' %>" id="sectionPassword-tab" data-toggle="pill" href="#sectionPassword" role="tab" aria-controls="sectionPassword"
             aria-selected="true"><%= t :password %></a>
          <a class="nav-link" id="sectionTickets-tab" data-toggle="pill" href="#sectionTickets" role="tab" aria-controls="sectionTickets"
             aria-selected="false"><%= t :tickets %></a>
          <a class="nav-link" id="sectionHistory-tab" data-toggle="pill" href="#sectionHistory" role="tab" aria-controls="sectionHistory"
             aria-selected="false"><%= t :flight_history %></a>
        </div>
      </div>
      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show <%= (@tab.nil? or @tab != 'sectionPassword') ? 'active' : '' %>"
               id="sectionData" role="tabpanel" aria-labelledby="sectionData-tab">
            <%= form_tag customer_path(@customer.customer_id), method: :put do %>
              <div class="container">
                <%= fields_for :person do |person| %>
                  <h3 class="font-weight-light section-title"><%= t :account_information %></h3>
                  <div class="row profile-row">
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                      <p class="description profile-description"><%= t :email %></p>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                      <%= person.text_field :email, value: @customer.email, class: 'form-control', placeholder: t(:email), required: '' %>
                    </div>
                  </div>
                  <h3 class="font-weight-light section-title"><%= t :personal_data %></h3>
                  <div class="row profile-row">
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                      <p class="description profile-description"><%= t :first_name %></p>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                      <%= person.text_field :first_name, value: @customer.first_name, class: 'form-control', placeholder: t(:first_name), required: '' %>
                    </div>
                  </div>
                  <div class="row profile-row">
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                      <p class="description profile-description"><%= t :last_name %></p>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                      <%= person.text_field :last_name, value: @customer.last_name, class: 'form-control', placeholder: t(:last_name), required: '' %>
                    </div>
                  </div>
                  <div class="row profile-row">
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                      <p class="description profile-description"><%= t :country %></p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                      <%= person.select :country, options_from_collection_for_select(ISO3166::Country.countries.sort_by(&:name),
                                                                                     'un_locode', 'name', selected: @customer.country.upcase), {},
                                        class: 'form-control' %>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12">
                      <p class="description profile-description"><%= t :city %></p>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                      <%= person.text_field :city, value: @customer.city, class: 'form-control', placeholder: t(:city) %>
                    </div>
                  </div>
                  <div class="row profile-row">
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                      <p class="description profile-description"><%= t :address %></p>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                      <%= person.text_field :street, value: @customer.street, class: 'form-control', placeholder: t(:address) %>
                    </div>
                  </div>
                <% end %>
                <h3 class="font-weight-light section-title"><%= t :credit_card %></h3>
                <%= fields_for :customer do |customer| %>
                  <div class="row profile-row">
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                      <p class="description profile-description"><%= t :card_number %></p>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                      <%= customer.text_field :card_number, value: @customer.card_number, class: 'form-control', placeholder: t(:card_number), pattern: '[0-9]{16}' %>
                    </div>
                  </div>
                  <div class="row profile-row">
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                      <p class="description profile-description"><%= t :expiration_date %></p>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                      <%= customer.select :month, options_for_select((1..12).to_a.map {|s| ['%02d' % s, s]}, selected: @customer.month), {},
                                          class: 'form-control' %>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                      <%= customer.select :year, options_for_select((Time.current.year..Time.current.year + 20).to_a.map {|s| ["#{s}", s]},
                                                                    selected: @customer.year), {}, class: 'form-control' %>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                      <p class="description profile-description">
                        <i class="fa fa-margin fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="<%= t :cvv_info %>"></i>CVC/CCV
                      </p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                      <%= customer.text_field :cvv, {value: @customer.cvv, class: 'form-control', pattern: '[0-9]{3}', placeholder: 'CVC/CVV', 'data-toggle': 'tooltip',
                                                     'data-placement': 'top', 'title': t(:cvv_info)} %>
                    </div>
                  </div>
                <% end %>
                <div class="container" style="margin-top: 12px" id="#confirm_button" id="confirm_container">
                  <%= submit_tag t(:confirm_data_change), class: 'btn btn-primary', action: 'update_data' %>
                </div>
            <% end %>
            </div>
          </div>
          <div class="tab-pane fade <%= (!@tab.nil? and @tab == 'sectionPassword') ? 'show active' : '' %>"
               id="sectionPassword" role="tabpanel" aria-labelledby="sectionPassword-tab">
            <div class="container">
              <h3 class="font-weight-light section-title"><%= t :change_password %></h3>
              <% flash.each do |_, value| %>
                <div class='alert alert-danger' , style="margin-top: 10px"><%= value %></div>
              <% end %>
              <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                <%= form_tag customer_path(@customer.customer_id), method: :put do %>
                  <%= fields_for :person do |person| %>
                    <% if !@customer.without_password %>
                      <%= person.password_field :old_password, class: 'form-control', placeholder: t(:current_password), required: '', style: 'margin-bottom: 12px',
                                                title: 'Hasło musi zawierać przynajmniej jedną małą literę, jedną wielką literę, jedną liczbę oraz być długości conajmniej 6 znaków' %>
                    <% end %>
                    <%= person.password_field :password, class: 'form-control', placeholder: t(:new_password), required: '',
                                              style: 'margin-bottom: 12px', pattern: '(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}',
                                              title: t(:password_info) %>
                    <%= person.password_field :password_confirmation, class: 'form-control', placeholder: t(:confirm_new_password), required: '',
                                              style: 'margin-bottom: 12px', pattern: '(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}',
                                              title: t(:password_info) %>
                    <div style="margin-top: 12px">
                      <%= submit_tag t(:confirm_password_change), class: 'btn btn-primary' %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="sectionTickets" role="tabpanel" aria-labelledby="sectionTickets-tab">
            <div class="container">
              <h3 class="font-weight-light section-title">Twoje bilety</h3>
              <div class="container table-responsive" style="margin-top: 12px">
                <table class="table table-hover">
                  <thead class="thead-primary">
                  <tr>
                    <th scope="col">Numer lotu</th>
                    <th scope="col">Data</th>
                    <th scope="col">Kierunek</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Status</th>
                    <th scope="col">Bilet</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @tickets.each do |ticket| %>
                    <tr>
                      <td class="table-element">
                        <a href="#" class="table-link"><%= ticket.flight_identifier %></a>
                      </td>
                      <td class="table-element"><%= ticket.dep_date.strftime("%F") %></td>
                      <td class="table-element"><%= ticket.airport %></td>
                      <td class="table-element"><%= "%.02fzł" % ticket.price %></td>
                      <td class="table-element"><%= FlightStatus.i18n_status ticket.status %></td>
                      <td class="table-element">
                        <%= link_to ticket_pdf_path(ticket, format: :pdf), class: 'table-link' do %>
                          <i class="fa fa-margin fa-file" aria-hidden="true"></i>Pobierz
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="sectionHistory" role="tabpanel" aria-labelledby="sectionHistory-tab">
            <div class="container">
              <h3 class="font-weight-light section-title">Twoja historia lotów</h3>
              <div class="container table-responsive" style="margin-top: 12px">
                <table class="table table-hover">
                  <thead class="thead-primary">
                  <tr>
                    <th scope="col">Numer lotu</th>
                    <th scope="col">Data</th>
                    <th scope="col">Wylot</th>
                    <th scope="col">Przylot</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="table-element">
                      <a href="#" class="table-link">3515612</a>
                    </td>
                    <td class="table-element">02.05.2018</td>
                    <td class="table-element">Górnicza Dolina</td>
                    <td class="table-element">Kielce</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>