<% @flights.each do |flight| %>
  <tr>
    <td>
      <div class="form-check">
        <%= radio_button_tag "flight", flight.id, false, {class: 'form-check-input'} %>
      </div>
    </td>
    <td><%= flight.dep_date.strftime("%F %H:%M") %></td>
    <td><%= flight.airline_name %></td>
    <td><%= flight.city_name %></td>
    <td><%= "%.2f" % flight.ticket_price.round %></td>
    <td><%= flight.flight_identifier %></td>
  </tr>
<% end %>