<!-- cover-->
<div class="container-fluid container-cover-title row">
  <div class="container cover-content">
    <h2 class="font-weight-light cover-title">Kup bilet - podsumowanie</h2>
  </div>
</div>

<!-- content -->
<div class="container content">
  <div class="content-content">
    <%= form_for :ticket, url: payments_path do |t| %>
      <%= t.hidden_field :order, value: @order %>
      <div class="container">
        <h2 class="font-weight-light section-title">Podsumowanie danych biletu</h2>
        <div class="container container-ticket">
          <h3 class="font-weight-light section-title">Lot</h3>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <ul class="list-group">
                <li class="list-group-item">Lotnisko docelowe:<br>
                  <b><%= @flight.airport.name %> - <%= @flight.airport.city.name %></b>
                </li>
              </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <ul class="list-group">
                <li class="list-group-item">Data:<br>
                  <b><%= @flight.dep_date.strftime("%F") %></b> o godzinie
                  <b><%= @flight.dep_date.strftime("%H:%M") %></b>
                </li>
              </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <ul class="list-group">
                <li class="list-group-item">Przewoźnik:<br>
                  <b><%= @flight.airline.name %></b>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <% @tickets.each_with_index do |ticket, index| %>
          <div class="container container-ticket">
            <h4 class="font-weight-light section-title">Bilet <%= index + 1 %></h4>
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                <ul class="list-group">
                  <li class="list-group-item">Imię:
                    <b><%= ticket[:first_name] %></b>
                  </li>
                </ul>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                <ul class="list-group">
                  <li class="list-group-item">Nazwisko:
                    <b><%= ticket[:last_name] %></b>
                  </li>
                </ul>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <ul class="list-group">
                  <li class="list-group-item">Ulga:
                    <b><%= ticket[:discount] %></b>
                  </li>
                </ul>
              </div>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Dodatkowy bagaż:
                <b><%= ticket[:baggage_n] %></b>
              </li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item">Koszt osoby:
                <b><%= "%.02fzł" % ticket[:price] %></b>
              </li>
            </ul>
          </div>
        <% end %>
        <div class="container container-ticket">
          <h4 class="font-weight-light section-title">Ogółem</h4>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <ul class="list-group">
                <li class="list-group-item">Ilość biletów:
                  <b><%= @tickets.count %></b>
                </li>
              </ul>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <ul class="list-group">
                <li class="list-group-item">Koszt całkowity:
                  <b><%= "%.02fzł" % @total_price %></b>
                </li>
              </ul>
            </div>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Adres e-mail:
              <b><%= params[:email] %></b>
            </li>
          </ul>
        </div>
        <%= link_to "Dane nieprawidłowe? Wróć do wpisywania danych", new_ticket_path(params.try(:permit!)), method: :post,
                    class: 'btn btn-primary' %>
        <div class="container">
          <h2 class="font-weight-light section-title" style="margin-top: 24px">Płatność</h2>
          <p class="description">Jeśli wszystkie dane wprowadzone zostały poprawnie, wybierz metodę płatności i zapłać
            za
            bilet.</p>
          <div class="container">
            <div class="container-payment">
              <%= t.button type: 'submit', class: 'btn btn-primary btn-payment',
                           name: 'provider', value: 'payu', formtarget: '_blank' do %>
                <i class="fa fa-margin fa-credit-card-alt" aria-hidden="true"></i>Zapłać z PayU
              <% end %>
              <a href="#" class="btn btn-primary btn-payment" role="button">
                <i class="fa fa-margin fa-cc-paypal" aria-hidden="true"></i>Zapłać z PayPal</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>