<style>
  #qrcode table {
    margin-top: -438px;
    border: 0 none #0000ff;
    border-collapse: collapse;
  }

  #qrcode td {
    border-left: solid 10px #000;
    padding: 0;
    margin: 0;
    width: 0;
    height: 10px;
  }

  #qrcode td.black {
    border-color: #000;
  }

  #qrcode td.white {
    border-color: #fff;
  }
</style>

<% if type == 'pdf' %>
  <%= wicked_pdf_image_tag 'logo_ticket.png' %>
<% else %>
  <%= image_tag image_url('logo_ticket.png') %>
<% end %>

<h1 class="ticket-title">Bilet lotniczy</h1>
<div class="ticket-container">
  <table>
    <th style="width: 33%" id="qrcode">
      <%= raw qr.as_html %>
    </th>
    <th style="width: 2%"></th>
    <th style="width: 65%">
      <div class="ticket-section">
        <div class="ticket-section-title">
          <h2 class="font-weight-light">Dane osobowe</h2>
        </div>
        <div class="ticket-section-content">
          <ul class="ticket">
            <li>Imię:
              <b><%= ticket.first_name %></b>
            </li>
            <li>Nazwisko:
              <b><%= ticket.last_name %></b>
            </li>
          </ul>
        </div>
      </div>
      <div class="ticket-section">
        <div class="ticket-section-title">
          <h2 class="font-weight-light">Cel podróży</h2>
        </div>
        <div class="ticket-section-content">
          <ul class="ticket">
            <li>Lotnisko:
              <b><%= flight.airport.name %></b>
            </li>
            <li>Miasto:
              <b><%= flight.airport.city.name %></b>
            </li>
            <li>Kraj:
              <b><%= flight.airport.city.country.name %></b>
            </li>
          </ul>
        </div>
      </div>
      <div class="ticket-section">
        <div class="ticket-section-title">
          <h2 class="font-weight-light">Data</h2>
        </div>
        <div class="ticket-section-content">
          <ul class="ticket">
            <li>Wylot:
              <b><%= flight.dep_date.strftime("%F") %></b> o godzinie
              <b><%= flight.dep_date.strftime("%H:%M") %></b>
            </li>
            <li>Przylot:
              <b><%= flight.arr_date.strftime("%F") %></b> o godzinie
              <b><%= flight.arr_date.strftime("%H:%M") %></b>
            </li>
          </ul>
        </div>
      </div>
      <div class="ticket-section">
        <div class="ticket-section-title">
          <h2 class="font-weight-light">Przewoźnik</h2>
        </div>
        <div class="ticket-section-content">
          <ul class="ticket">
            <li>Nazwa:
              <b><%= flight.airline.name %></b>
            </li>
            <li>Samolot:
              <b><%= flight.airplane.name %></b>
            </li>
          </ul>
        </div>
      </div>
      <div class="ticket-section">
        <div class="ticket-section-title">
          <h2 class="font-weight-light">Szczegóły biletu</h2>
        </div>
        <div class="ticket-section-content">
          <ul class="ticket">
            <li>Ulga:
              <b><%= ticket.discount_type.name %></b>
            </li>
            <li>Bagaż:
              <b><%= ticket.baggage.name %></b>
            </li>
            <li>Cena całkowita:
              <b><%= "%.02fzł" % ticket.price %></b>
            </li>
          </ul>
        </div>
      </div>
  </table>
  <div class="ticket-section">
    <div class="ticket-section-title ticket-section-title-secondary">
      <h2 class="font-weight-light">Informacja dla pasażerów</h2>
    </div>
    <div class="ticket-section-content">
      <div class="container">
        <p class="description">
          <b>Odszkodowanie w przypadku śmierci lub uszkodzenia ciała</b>
        </p>
        <p class="description">Nie istnieją limity finansowe odpowiedzialności za uszkodzenie ciała lub śmierć pasażera.
          W przypadku
          szkód o wartości do 113,100 SDR, przewoźnik nie może kwestionować roszczenia o odszkodowanie. Powyżej
          tej kwoty, przewoźnik może bronić się przed roszczeniami udowadniając, że szkoda nie została spowodowana
          zaniedbaniem lub innym zawinieniem przewoźnika.</p>
        <p class="description">
          <b>UWAGA!</b>
        </p>
        <p class="description">Przewoźnik nie ponosi odpowiedzialności za katastrofy lotnicze z udziałem jego
          samolotów.</p>
        <p class="description" align="center">
          <b>ŻYCZYMY MIŁEGO LOTU</b>
        </p>
      </div>
    </div>
  </div>
</div>