<!DOCTYPE html>
<html>
<head>
  <title>Kielce Airport</title>
  <%= csrf_meta_tags %>

  <title>Kielce Airport</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <%= stylesheet_link_tag 'w3' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
</head>

<body>
<!-- header -->
<div class="container-fluid container-header">

  <!-- navbar -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light navbar-navigation">
    <div class="container">
      <button class="float-right navbar-toggler" style="margin-top: 16px" type="button" data-toggle="collapse" data-target="#navbar"
              aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <%= link_to "Kielce Airport", root_path, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item nav-link nav-main">
            <%= link_to root_path do %>
              <i class="fa fa-margin fa-home fa-fw" aria-hidden="true"></i>Strona główna
            <% end %>
          </li>
          <li class="nav-item nav-link nav-main">
            <%= link_to news_index_path do %>
              <i class="fa fa-margin fa-home fa-fw" aria-hidden="true"></i>Aktualności
            <% end %>
          </li>
          <li class="nav-item nav-link nav-main">
            <a href="wyszukiwarka.html">
              <i class="fa fa-margin fa-search fa-fw" aria-hidden="true"></i>Wyszukiwarka</a>
          </li>
        </ul>
        <ul class="nav-controls">
          <li class="nav-control">
            <% if current_user.nil? %>
              <%= link_to login_path do %><i class="fa fa-margin fa-user" aria-hidden="true"></i>Zaloguj się
              <% end %>
            <% else %>
              <%= link_to "Wyloguj się", logout_path, method: :delete %>
            <% end %>
          </li>
          <li class="nav-control nav-control-language">
            <a href="#">PL</a>
            <span>/</span>
            <a href="#">EN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- airport info -->
<div class="container-fluid container-airport-info-bg">
  <div class="container container-airport-info">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <ul class="airport-info">
          <li class="airport-info">
            <i class="fa fa-margin fa-map-marker" aria-hidden="true"></i>Poland, Kielce
          </li>
          <li class="airport-info">
            <i class="fa fa-margin fa-road" aria-hidden="true"></i>Aleja Tysiąclecia 7
          </li>
          <li class="airport-info">
            <i class="fa fa-margin fa-envelope" aria-hidden="true"></i>contact@kielceairport.pl
          </li>
          <li class="airport-info">
            <i class="fa fa-margin fa-phone" aria-hidden="true"></i>+48 333 444 555
          </li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-12">
        <ul class="cover-social">
          <li class="cover-social">
            <a href="#">
              <i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i>
            </a>
          </li>
          <li class="cover-social">
            <a href="#">
              <i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i>
            </a>
          </li>
          <li class="cover-social">
            <a href="#">
              <i class="fa fa-2x fa-youtube-square" aria-hidden="true"></i>
            </a>
          </li>
          <li class="cover-social">
            <a href="#">
              <i class="fa fa-2x fa-flickr" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- content -->
<%= yield %>
<!-- footer -->
<div class="container container-footer">
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
      <h3 class="font-weight-light footer-title">Menu</h3>
      <ul class="footer-list">
        <li class="footer-list-item">
          <a class="footer-link" href="#">
            <i class="fa fa-margin fa-home fa-fw" aria-hidden="true"></i>Strona główna</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="#">
            <i class="fa fa-margin fa-newspaper-o fa-fw" aria-hidden="true"></i>Aktualności</a>
        </li>
      </ul>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
      <h3 class="font-weight-light footer-title">Informacje</h3>
      <ul class="footer-list">
        <li class="footer-list-item">
          <i class="fa fa-margin fa-map-marker" aria-hidden="true"></i>Poland, Kielce
        </li>
        <li class="footer-list-item">
          <i class="fa fa-margin fa-road" aria-hidden="true"></i>Aleja Tysiąclecia 7
        </li>
        <li class="footer-list-item">
          <i class="fa fa-margin fa-envelope" aria-hidden="true"></i>contact@kielceairport.pl
        </li>
        <li class="footer-list-item">
          <i class="fa fa-margin fa-phone" aria-hidden="true"></i>+48 333 444 555
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-sm-12">
      <h3 class="font-weight-light footer-title">Media</h3>
      <ul class="footer-list">
        <li class="footer-list-item">
          <a class="footer-link" href="#">
            <i class="fa fa-margin fa-facebook-official" aria-hidden="true"></i>Facebook</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="#">
            <i class="fa fa-margin fa-twitter-square" aria-hidden="true"></i>Twitter</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="#">
            <i class="fa fa-margin fa-youtube-square" aria-hidden="true"></i>YouTube</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="#">
            <i class="fa fa-margin fa-flickr" aria-hidden="true"></i>Flickr</a>
        </li>
      </ul>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
      <h3 class="font-weight-light footer-title">Kielce Airport</h3>
      <p class="footer-description">Still better than Radom Airport.</p>
    </div>
  </div>

  <div class="container">
    <p class="font-weight-light footer-text">
      <b>Kielce Airport</b> &copy; 2018 / Inżynieria systemów informacyjnych</p>
  </div>
</div>
</body>
</html>
